## 加载交互数据

In [1]:
import pandas as pd

train_interaction_df = pd\
    .read_table('/Users/sun/PycharmProjects/kuaishou/data/train_interaction.txt', names=['user_id', 'photo_id', 'click', 'like', 'follow', 'time', 'playing_time', 'duration_time'])
train_interaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20854344 entries, 0 to 20854343
Data columns (total 8 columns):
user_id          int64
photo_id         int64
click            int64
like             int64
follow           int64
time             int64
playing_time     int64
duration_time    int64
dtypes: int64(8)
memory usage: 1.2 GB

In [2]:
train_interaction_df.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user_id</th>
      <th>photo_id</th>
      <th>click</th>
      <th>like</th>
      <th>follow</th>
      <th>time</th>
      <th>playing_time</th>
      <th>duration_time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2.085434e+07</td>
      <td>2.085434e+07</td>
      <td>2.085434e+07</td>
      <td>2.085434e+07</td>
      <td>2.085434e+07</td>
      <td>2.085434e+07</td>
      <td>2.085434e+07</td>
      <td>2.085434e+07</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.883117e+04</td>
      <td>3.748311e+06</td>
      <td>2.024292e-01</td>
      <td>3.035866e-03</td>
      <td>9.912563e-04</td>
      <td>7.610647e+11</td>
      <td>2.947877e+00</td>
      <td>1.989893e+01</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.093191e+04</td>
      <td>2.185500e+06</td>
      <td>4.018105e-01</td>
      <td>5.501500e-02</td>
      <td>3.146862e-02</td>
      <td>3.679046e+07</td>
      <td>4.188978e+02</td>
      <td>2.735497e+01</td>
    </tr>
    <tr>
      <th>min</th>
      <td>2.000000e+00</td>
      <td>1.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>7.609949e+11</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>9.404000e+03</td>
      <td>1.830334e+06</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>7.610322e+11</td>
      <td>0.000000e+00</td>
      <td>1.100000e+01</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.892100e+04</td>
      <td>3.806133e+06</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>7.610669e+11</td>
      <td>0.000000e+00</td>
      <td>1.100000e+01</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2.824000e+04</td>
      <td>5.613448e+06</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>7.610993e+11</td>
      <td>0.000000e+00</td>
      <td>1.700000e+01</td>
    </tr>
    <tr>
      <th>max</th>
      <td>3.782000e+04</td>
      <td>7.560365e+06</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>7.611249e+11</td>
      <td>1.912441e+06</td>
      <td>3.831000e+03</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
train_interaction_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user_id</th>
      <th>photo_id</th>
      <th>click</th>
      <th>like</th>
      <th>follow</th>
      <th>time</th>
      <th>playing_time</th>
      <th>duration_time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1637</td>
      <td>6484142</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>761036604603</td>
      <td>0</td>
      <td>11</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1637</td>
      <td>4647664</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>761035501863</td>
      <td>0</td>
      <td>11</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1637</td>
      <td>4994626</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>761036933553</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1637</td>
      <td>4416881</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>761119247892</td>
      <td>0</td>
      <td>9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1637</td>
      <td>2597756</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>761119421332</td>
      <td>0</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
</div>

## 验证集
取photo_id > 6750000的，作为验证集，约10%

In [44]:
valid_interaction_df = train_interaction_df[train_interaction_df['photo_id'] > 6750000]
valid_interaction_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2152299 entries, 21 to 20854323
Data columns (total 8 columns):
user_id          int64
photo_id         int64
click            int64
like             int64
follow           int64
time             int64
playing_time     int64
duration_time    int64
dtypes: int64(8)
memory usage: 147.8 MB

## 训练集
剩余photo_id<=6750000的，作为训练集，约90%

In [45]:
train_interaction_df = train_interaction_df[train_interaction_df['photo_id'] <= 6750000]
train_interaction_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18702045 entries, 0 to 20854343
Data columns (total 8 columns):
user_id          int64
photo_id         int64
click            int64
like             int64
follow           int64
time             int64
playing_time     int64
duration_time    int64
dtypes: int64(8)
memory usage: 1.3 GB

## 全局平均值法
全局点击率作为预测值，即
$$
y_{ui} =\frac{\sum_{(u,i) \in Train, click=1}^{}{1}}{\sum_{(u,i) \in Train}^{}{1}}
$$

In [54]:
# click全局平局值
y = train_interaction_df.mean()['click']
y = round(y, 6)
y

0.20269

## 预测集
用全局平均值作为预测值，预测验证集数据

In [59]:
pred_df = valid_interaction_df[['user_id', 'photo_id']]
pred_df = pred_df.reindex(columns=['user_id', 'photo_id', 'click_probability'], fill_value=y)

## 导出结果

In [63]:
pred_df.to_csv('/Users/sun/PycharmProjects/kuaishou/out/pred_global_mean.txt', index=False, header=False, sep='\t')

## 评分
```
python py/evaluation_script.py out/pred_global_mean.txt out/valid.txt 
```

结果：
```
{'code': 0, 'message': 'validation success'}
{'code': 0, 'score': 0.5, 'message': 'success'}
```