In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np

In [3]:
submit = pd.read_table('../final_contest/test/test_interaction.txt', names=['user_id', 'photo_id', 'time', 'duration_time'])

In [4]:
submit.head()

   user_id  photo_id          time  duration_time
0    29999   8154819  761158905921             17
1    29999   8374672  761163438550              9
2    29999   7987126  761143659968             11
3    29999   7912672  761159000400             17
4    29999   9062638  761163738888             11

In [5]:
result = pd.read_table('../submit/result_visual_feature_w.txt', names=['click'])

In [6]:
result.head()

      click
0  0.939121
1  0.911485
2  0.914313
3  0.912005
4  0.938773

In [7]:
submit = submit.join(result)[['user_id', 'photo_id', 'click']]

In [8]:
submit['click'] = submit['click'].apply(lambda x: round(x, 6))

In [9]:
submit.to_csv('../submit/pred_visual_feature_w.txt', index=False, header=False, sep='\t')

In [7]:
result_1.shape

(310281, 1)

In [8]:
submit_1.reset_index(level=0, drop=True, inplace=True)
submit_1.head()

       0        1         2
0  37431  9146428  0.658017
1  37431  7843146  0.704227
2  37431  7619229  0.686612
3  37431  7826939  0.669218
4  37431  9008142  0.735173

In [9]:
submit_1[2] = result_1[0]

In [10]:
submit_1.head()

       0        1         2
0  37431  9146428  0.620434
1  37431  7843146  0.726460
2  37431  7619229  0.653348
3  37431  7826939  0.685175
4  37431  9008142  0.747881

In [11]:
submit = pd.merge(submit, submit_1, how='left', on=[0,1])

In [12]:
submit['2_x'] = submit.apply(lambda row: round(row['2_y'],6) if not np.isnan(row['2_y']) else round(row['2_x'], 6), axis=1)

In [14]:
submit[submit[0]%10==1]

             0        1       2_x       2_y
1144     37431  9146428  0.620434  0.620434
1145     37431  7843146  0.726460  0.726460
1146     37431  7619229  0.653348  0.653348
1147     37431  7826939  0.685175  0.685175
1148     37431  9008142  0.747881  0.747881
1149     37431  8494705  0.665501  0.665501
1150     37431  7845359  0.727551  0.727551
1151     37431  7707951  0.461839  0.461839
1152     37431  7696812  0.665777  0.665777
1153     37431  7762511  0.659069  0.659069
1154     37431  8259301  0.695666  0.695666
1155     37431  7791159  0.557025  0.557025
1156     37431  8923452  0.734166  0.734166
1157     37431  7586893  0.742604  0.742604
1158     37431  8267375  0.670563  0.670563
1159     37431  8978370  0.778479  0.778479
1160     37431  8698977  0.737267  0.737267
1161     37431  8383283  0.712505  0.712505
1162     37431  8663386  0.700065  0.700065
1163     37431  9203408  0.737807  0.737807
1164     37431  8050815  0.724088  0.724088
1165     37431  8717643  0.751452  0.751452
1166     37431  8683460  0.762663  0.762663
1167     37431  7832042  0.419799  0.419799
1168     37431  7720722  0.734332  0.734332
1169     37431  8266198  0.752624  0.752624
1170     37431  7902795  0.720625  0.720625
1171     37431  7997458  0.670866  0.670866
1172     37431  7983852  0.731546  0.731546
1173     37431  8170216  0.731313  0.731313
...        ...      ...       ...       ...
3290895  12361  8114286  0.276437  0.276437
3290896  12361  8255076  0.368113  0.368113
3290897  12361  7938346  0.403678  0.403678
3290898  12361  8808308  0.390114  0.390114
3290899  12361  8616182  0.392034  0.392034
3290900  12361  7768716  0.463764  0.463764
3290901  12361  8702304  0.259239  0.259239
3290902  12361  7962625  0.499652  0.499652
3290903  12361  9146655  0.386362  0.386362
3290904  12361  8068714  0.504347  0.504347
3290905  12361  8569476  0.417042  0.417042
3290906  12361  8585180  0.289172  0.289172
3290907  12361  8423258  0.407193  0.407193
3290908  12361  8810654  0.367686  0.367686
3290909  12361  8167509  0.095541  0.095541
3290910  12361  7645563  0.392622  0.392622
3290911  12361  8665607  0.101067  0.101067
3290912  12361  9134904  0.503688  0.503688
3290913  12361  8495166  0.374003  0.374003
3290914  12361  8234596  0.355162  0.355162
3290915  12361  7599166  0.408378  0.408378
3290916  12361  8375441  0.415311  0.415311
3290917  12361  8233851  0.352734  0.352734
3290918  12361  8433963  0.460144  0.460144
3290919  12361  7794072  0.295127  0.295127
3290920  12361  7605700  0.317332  0.317332
3290921  12361  8273140  0.434660  0.434660
3290922  12361  8913658  0.188126  0.188126
3290923  12361  7929187  0.448004  0.448004
3290924  12361  8938643  0.111040  0.111040

[310281 rows x 4 columns]

In [15]:
submit[[0, 1, '2_x']].to_csv('../submit/pred_face_visual_1.txt', index=False, header=False, sep='\t')